<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - Site</title>
    {% else %}
    <title>Welcome to Site</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
</head>
<body>
    <div id="top">
        <h1>Social Media Project</h1>
        <div>
            <a href="{{ url_for('index') }}">Home</a> |
            <a href="{{ url_for('login') }}">Login</a> |
            <a href="{{ url_for('new_profile') }}">Create Profile</a> |
            <a href="{{ url_for('profile') }}">Profile</a>
        </div>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    <hr>
    <a href="{{ url_for('topic') }}">topic page example</a> |
    <a href="{{ url_for('post') }}">post page login</a>
</body>
</html>