{% extends "base.html" %}
{% block content %}

<h2>{{ current_user }}</h2>
{% for user in users %}
{% if user.username == current_user %}
<p>
    <h3>Bio:</h3><br>
    {{ user.bio }}
</p>
{% endif %}
{% endfor %}
<hr>
<h2>Create a post:</h2>
<form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.topic.label }}<br>
            {{ form.topic(size=32) }}
        </p>
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.text.label }}<br>
            {{ form.text(size=250) }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.image.label }}<br>
            {{ form.image() }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}